:root {
  --mainbg: #999d9e;
  --mainbg-black: hsl(0, 0%, 30%);
  --color-white: #ffffff;
  --color-white-light: #f0f0f0;
  --color-dark: #000000;
  --color-dark-light: #1c1d20;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  min-height: 100%;
  width: 100%;
  font-family: sans-serif;
}

#page1 {
  height: 100vh;
  width: 100%;
  background-color: var(--mainbg);
  overflow: hidden;
  position: relative;
}

#page1 > img {
  width: auto;
  height: 100%;
  object-fit: cover;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

header > p {
  padding: 10px 0%;
  text-align: center;
  color: var(--color-white);
  background-color: var(--mainbg);
  font-size: 16px;
}

.navbar {
  z-index: 99;
  width: 100%;
  height: 50px;
  background-color: var(--mainbg-black);
  position: sticky;
  top: 0;
}

.navbar ul {
  list-style-type: none;
  display: flex;
  align-items: center;
  justify-content: center;
}

.navbar a {
  padding: 0 16px;
  text-decoration: none;
  color: var(--color-white);
  display: block;
  line-height: 50px;
}

.navbar a:hover {
  background-color: var(--color-dark);
}

.navbar a.active {
  background-color: var(--color-dark);
}

.moving-text {
  width: 100%;
  overflow-x: auto;
  white-space: nowrap;
  position: absolute;
  bottom: 5%;
  z-index: 1;
}

.moving-text-con {
  white-space: nowrap;
  display: inline-block;
  animation-name: move;
  animation-duration: 10s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

.moving-text-con h1 {
  display: inline-block;
  font-size: 10vw;
  color: var(--color-white);
}

.moving-text::-webkit-scrollbar {
  display: none;
}

@keyframes move {
  from {
    transform: translate(0);
  }

  to {
    transform: translate(-100%);
  }
}

.page1-infotxt {
  bottom: 40%;
  left: 2vw;
  position: absolute;
  z-index: 1;
}

.page1-infotxt h1 {
  color: var(--color-white);
  font-size: 32px;
}

#page2 {
  min-height: 180vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
  margin: 5vw 0%;
}

#page2 > h1 {
  margin: 2vw 0%;
  font-size: 42px;
  color: var(--color-dark);
  border-bottom: 1px solid var(--color-dark-light);
}

.page2-main {
  min-height: 150vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
  align-content: start;
  row-gap: 5vw;
}

.portfolio1 {
  height: 450px;
  width: 30vw;
  display: flex;
  align-items: start;
  justify-content: space-evenly;
  flex-direction: column;
  background-color: var(--color-white-light);
  padding: 0% 1vw;
}

.portfolio-v {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 60%;
  width: 100%;
}

.portfolio-v iframe {
  width: 100%;
  height: 90%;
  overflow: hidden;
}

.portfolio-text1 {
  width: 100%;
  border-bottom: 1px solid var(--color-dark);
}

.portfolio-s-btn {
  display: flex;
  align-items: center;
  justify-content: start;
  flex-wrap: wrap;
  gap: 10px;
}

.portfolio-s-btn p {
  color: var(--color-dark);
  font-size: 14px;
  border-bottom: 1px solid var(--color-dark);
}

.portfolio-btn {
  width: 100%;
  text-align: center;
  display: grid;
}

.portfolio1 h2 {
  color: var(--color-dark);
  margin-bottom: 10px;
  font-size: 26px;
}

.portfolio1 a {
  padding: 16px 18px;
  text-decoration: none;
  font-size: 18px;
  color: var(--color-white);
  background-color: var(--color-dark);
}

.page2-submain {
  margin-top: 5vw;
  min-height: 80vh;
  width: 80%;
  position: relative;
  display: grid;
  place-items: center;
}

.page2-submain img {
  width: 100%;
  object-fit: cover;
  position: absolute;
}

.page2-submain-a {
  text-decoration: none;
  color: var(--color-dark);
  background-color: var(--color-white);
  font-size: 32px;
  padding: 2vw 4vw;
  position: absolute;
}

#page3 {
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
  margin: 5vw 0%;
}

#page3 > h1 {
  margin: 2vw 0%;
  font-size: 42px;
  color: var(--color-dark);
  border-bottom: 1px solid var(--color-dark-light);
}

.page3-container1 {
  padding: 0% 15vw;
  height: 40%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-top: 2vw;
}

.page3-container2 {
  padding: 0% 15vw;
  height: 40%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.skill0 {
  height: 80%;
  width: 20%;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid var(--color-dark-light);
  border-radius: 5px;
}

.skill0 img {
  width: 100%;
}

#page4 {
  height: 60vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
  margin: 5vw 0%;
}

#page4 > h1 {
  margin: 2vw 0%;
  font-size: 42px;
  color: var(--color-dark);
  border-bottom: 1px solid var(--color-dark-light);
}

.page4-main {
  height: 80%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.page4-1 {
  height: 100%;
  width: 30%;
  background-color: var(--color-white-light);
  border-radius: 10px;
  padding: 1vw 1vw;
  padding-right: 8vw;
}

.page4-1 h3 {
  color: var(--color-dark-light);
  font-size: 16px;
}

.page4-1 h2 {
  color: var(--color-dark);
  font-size: 26px;
}

.page4-1 p {
  color: var(--color-dark-light);
  font-size: 16px;
  margin-top: 3vw;
}

footer {
  background-color: var(--mainbg-black);
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
}

.footer-top {
  height: 40%;
  width: 80%;
  border-bottom: 1px solid var(--color-white-light);
  display: flex;
  align-items: center;
  justify-content: start;
}

.footer-top h2 {
  font-size: 4rem;
  color: var(--color-white);
}

.footer-middle {
  height: 30%;
  width: 80%;
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 2vw;
}

.footer-middle a {
  text-decoration: none;
  font-size: 18px;
  color: var(--color-white);
  border-radius: 50px;
  border: 1px solid var(--color-white-light);
  padding: 1vw 2vw;
}

.footer-end {
  padding: 0% 5vw;
  min-height: 30%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.footer-end1 {
  width: 20%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.footer-end1-1 p {
  color: var(--color-white-light);
  font-size: 12px;
}

.footer-end1-1 h4 {
  color: var(--color-white);
}

.footer-end2 {
  width: 25%;
  display: flex;
  flex-direction: column;
}

.footer-end2 p {
  color: var(--color-white-light);
  font-size: 12px;
}

.footer-end2 span a {
  text-decoration: none;
  color: var(--color-white);
  margin-right: 1vw;
}

@media (max-width: 600px) {
  :root {
    --mainbg: #999d9e;
    --mainbg-black: hsl(0, 0%, 30%);
    --color-white: #ffffff;
    --color-white-light: #f0f0f0;
    --color-dark: #000000;
    --color-dark-light: #1c1d20;
  }

  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  html,
  body {
    min-height: 100%;
    width: 100%;
    font-family: sans-serif;
  }

  #page1 {
    height: 100vh;
    width: 100%;
    background-color: var(--mainbg);
    overflow: hidden;
    position: relative;
  }

  #page1 > img {
    width: auto;
    height: 100%;
    object-fit: cover;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
  }

  header > p {
    padding: 10px 0%;
    text-align: center;
    color: var(--color-white);
    background-color: var(--mainbg);
    font-size: 16px;
  }

  .navbar {
    z-index: 99;
    width: 100%;
    height: 50px;
    background-color: var(--mainbg-black);
    position: sticky;
    top: 0;
  }

  .navbar ul {
    list-style-type: none;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .navbar a {
    padding: 0 16px;
    text-decoration: none;
    color: var(--color-white);
    display: block;
    line-height: 50px;
  }

  .navbar a:hover {
    background-color: var(--color-dark);
  }

  .navbar a:active {
    background-color: var(--color-dark);
  }

  .moving-text {
    width: 100%;
    overflow-x: auto;
    white-space: nowrap;
    position: absolute;
    bottom: 25%;
    z-index: 1;
  }

  .moving-text-con {
    white-space: nowrap;
    display: inline-block;
    animation-name: move;
    animation-duration: 15s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
  }

  .moving-text-con h1 {
    display: inline-block;
    font-size: 32vw;
    color: var(--color-white);
  }

  .moving-text::-webkit-scrollbar {
    display: none;
  }

  @keyframes move {
    from {
      transform: translate(0);
    }

    to {
      transform: translate(-100%);
    }
  }

  .page1-infotxt {
    bottom: 25vw;
    left: 5vw;
    position: absolute;
    z-index: 1;
  }

  .page1-infotxt h1 {
    color: var(--color-white);
    font-size: 26px;
  }

  #page2 {
    min-height: 180vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    margin: 10vw 0%;
  }

  #page2 > h1 {
    margin: 2vw 0%;
    font-size: 32px;
    color: var(--color-dark);
    border-bottom: 1px solid var(--color-dark-light);
  }

  .page2-main {
    min-height: 150vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    align-content: start;
    row-gap: 15vw;
  }

  .portfolio1 {
    height: 400px;
    width: 95vw;
    display: flex;
    align-items: start;
    justify-content: space-evenly;
    flex-direction: column;
    padding: 0% 1vw;
  }

  .portfolio-v {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 60%;
    width: 100%;
    background-color: var(--color-white-light);
  }

  .portfolio-v iframe {
    width: 100%;
    height: 90%;
    overflow: hidden;
  }

  .portfolio-text1 {
    width: 100%;
    border-bottom: 1px solid var(--color-dark);
  }

  .portfolio-s-btn {
    display: flex;
    align-items: center;
    justify-content: start;
    flex-wrap: wrap;
    gap: 10px;
  }

  .portfolio-s-btn p {
    color: var(--color-dark);
    font-size: 14px;
    border-bottom: 1px solid var(--color-dark);
  }

  .portfolio-btn {
    width: 100%;
    text-align: center;
    display: grid;
  }

  .portfolio1 h2 {
    color: var(--color-dark);
    margin-bottom: 10px;
    font-size: 26px;
  }

  .portfolio1 a {
    padding: 16px 18px;
    text-decoration: none;
    font-size: 18px;
    color: var(--color-white);
    background-color: var(--color-dark);
  }

  .page2-submain {
    margin-top: 5vw;
    min-height: 30vh;
    width: 95%;
    position: relative;
    display: grid;
    place-items: center;
  }

  .page2-submain img {
    width: 100%;
    object-fit: cover;
    position: absolute;
  }

  .page2-submain-a {
    text-decoration: none;
    color: var(--color-dark);
    background-color: var(--color-white);
    font-size: 24px;
    padding: 2vw 4vw;
    position: absolute;
  }

  #page3 {
    height: 30vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    margin: 15vw 0%;
  }

  #page3 > h1 {
    margin: 2vw 0%;
    font-size: 32px;
    color: var(--color-dark);
    border-bottom: 1px solid var(--color-dark-light);
  }

  .page3-container1 {
    padding: 0% 15vw;
    height: 40%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 2vw;
  }

  .page3-container2 {
    padding: 0% 15vw;
    height: 40%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
  }

  .skill0 {
    height: 80%;
    width: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid var(--color-dark-light);
    border-radius: 5px;
  }

  .skill0 img {
    width: 100%;
  }

  #page4 {
    min-height: 150vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    margin: 5vw 0%;
  }

  #page4 > h1 {
    margin: 2vw 0%;
    font-size: 32px;
    color: var(--color-dark);
    border-bottom: 1px solid var(--color-dark-light);
  }

  .page4-main {
    height: 90%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    row-gap: 5vw;
  }

  .page4-1 {
    height: 30%;
    width: 90%;
    background-color: var(--color-white-light);
    border-radius: 10px;
    padding: 4vw 4vw;
    padding-right: 8vw;
  }

  .page4-1 h3 {
    color: var(--color-dark-light);
    font-size: 16px;
  }

  .page4-1 h2 {
    color: var(--color-dark);
    font-size: 26px;
  }

  .page4-1 p {
    color: var(--color-dark-light);
    font-size: 16px;
    margin-top: 6vw;
  }

  footer {
    background-color: var(--mainbg-black);
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
  }

  .footer-top {
    height: 40%;
    width: 80%;
    border-bottom: 1px solid var(--color-white-light);
    display: flex;
    align-items: center;
    justify-content: start;
  }

  .footer-top h2 {
    font-size: 4rem;
    color: var(--color-white);
  }

  .footer-middle {
    height: 30%;
    width: 80%;
    display: flex;
    align-items: start;
    justify-content: center;
    flex-direction: column;
    row-gap: 5vw;
  }

  .footer-middle a {
    width: 100%;
    text-decoration: none;
    text-align: center;
    font-size: 18px;
    color: var(--color-white);
    border-radius: 50px;
    border: 1px solid var(--color-white-light);
    padding: 4vw 6vw;
  }

  .footer-end {
    padding: 5vw 5vw;
    min-height: 30%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column-reverse;
  }

  .footer-end1 {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .footer-end1-1 p {
    color: var(--color-white-light);
    font-size: 12px;
  }

  .footer-end1-1 h4 {
    color: var(--color-white);
  }

  .footer-end2 {
    width: 100%;
    display: flex;
    flex-direction: column;
  }

  .footer-end2 p {
    color: var(--color-white-light);
    font-size: 12px;
  }

  .footer-end2 span a {
    text-decoration: none;
    color: var(--color-white);
    margin-right: 5vw;
  }
}
