:root {
  --bg-white: hsl(0, 0%, 100%);
  --bg-black: hsl(0, 0%, 0%);
  --bg-blue: hsl(233, 64%, 52%);
  --bg-grey: hsl(192, 3%, 61%);
  --color-white: hsl(0, 0%, 100%);
  --color-white-light: hsl(0, 0%, 94%);
  --color-black: hsl(0, 0%, 0%);
  --color-black-light: hsl(0, 0%, 40%);
  --color-blue: hsl(240, 100%, 50%);
  --color-white-border: hsla(0, 0%, 100%, 0.5);
  --color-black-border: hsla(0, 0%, 0%, 0.5);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  min-height: 100%;
  width: 100%;
  font-family: sans-serif;
}

#hero-section {
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--bg-grey);
}

#hero-section img {
  height: 100%;
}

header > p {
  padding: 10px 0%;
  text-align: center;
  color: var(--color-dark);
  background-color: var(--bg-white);
  font-size: 14px;
  font-weight: 300;
  border-bottom: 1px solid var(--color-black-border);
}

.navbar {
  z-index: 99;
  width: 100%;
  height: 50px;
  background-color: var(--bg-white);
  position: sticky;
  top: 0;
  border-bottom: 1px solid var(--color-black-border);
}

.navbar ul {
  list-style-type: none;
  display: flex;
  align-items: center;
  justify-content: center;
}

.navbar a {
  padding: 0 16px;
  text-decoration: none;
  color: var(--color-black);
  display: block;
  font-weight: 600;
  line-height: 50px;
}

.navbar a:hover {
  text-decoration: underline;
  color: var(--color-black);
}

.navbar a.active {
  text-decoration: underline;
  color: var(--bg-black);
}

#page2 {
  min-height: 180vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
}

#page2 > a {
  padding: 16px 18px;
  text-decoration: none;
  font-size: 18px;
  font-weight: 400;
  color: var(--color-white);
  background-color: var(--color-black);
  border-radius: 10px;
}

#page2 > h1 {
  margin: 2vw 0%;
  font-size: 42px;
  color: var(--color-dark);
  font-weight: 600;
}

.page2-main {
  min-height: 150vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
  align-content: start;
  row-gap: 5vw;
}

.portfolio1 {
  height: 450px;
  width: 30vw;
  display: flex;
  align-items: start;
  justify-content: space-evenly;
  flex-direction: column;
  background-color: var(--color-white-light);
  padding: 0% 1vw;
  border-radius: 10px;
}

.portfolio-v {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 60%;
  width: 100%;
}

.portfolio-v iframe {
  width: 100%;
  height: 90%;
  overflow: hidden;
}

.portfolio-text1 {
  width: 100%;
  border-bottom: 1px solid var(--color-black-border);
}

.portfolio-s-btn {
  display: flex;
  align-items: center;
  justify-content: start;
  flex-wrap: wrap;
  gap: 10px;
}

.portfolio-s-btn p {
  color: var(--color-black);
  font-size: 14px;
  font-weight: 400;
  border-bottom: 1px solid var(--color-black-border);
}

.portfolio-btn {
  width: 100%;
  text-align: center;
  display: grid;
}

.portfolio1 h2 {
  color: var(--color-black);
  margin-bottom: 10px;
  font-size: 26px;
  font-weight: 400;
}

.portfolio1 a {
  padding: 16px 18px;
  text-decoration: none;
  font-size: 18px;
  font-weight: 400;
  color: var(--color-white);
  background-color: var(--color-black);
  border-radius: 10px;
}

.page2-submain {
  margin-top: 5vw;
  min-height: 80vh;
  width: 80%;
  position: relative;
  display: grid;
  place-items: center;
}

.page2-submain img {
  width: 100%;
  object-fit: cover;
  position: absolute;
  border-radius: 10px;
}

.page2-submain-a {
  text-decoration: none;
  color: var(--color-black);
  background-color: var(--color-white);
  font-size: 22px;
  font-weight: 400;
  padding: 2vw 4vw;
  position: absolute;
  text-decoration: underline;
  border-radius: 10px;
}

#page3 {
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
  margin: 5vw 0%;
}

#page3 > h1 {
  margin: 2vw 0%;
  font-size: 42px;
  font-weight: 600;
  color: var(--color-black);
}

.skill-section {
  width: 80%;
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  padding: 1rem;
  grid-row-gap: 3vw;
}

.skill0 {
  width: 80%;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid var(--color-black-border);
  border-radius: 10px;
  padding: 1rem;
}

.skill0 img {
  width: 100%;
}

#page4 {
  height: 60vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
  margin: 5vw 0%;
}

#page4 > h1 {
  margin: 2vw 0%;
  font-size: 42px;
  font-weight: 600;
  color: var(--color-black);
}

.page4-main {
  height: 80%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.page4-1 {
  height: 80%;
  width: 30%;
  background-color: var(--color-white-light);
  border-radius: 10px;
  padding: 1vw 1vw;
  padding-right: 8vw;
}

.page4-1 h3 {
  color: var(--color-black-light);
  font-size: 16px;
  font-weight: 400;
}

.page4-1 h2 {
  color: var(--color-black);
  font-size: 32px;
  font-weight: 400;
  margin-top: 1vw;
}

.page4-1 p {
  color: var(--color-black-light);
  font-size: 16px;
  font-weight: 400;
  margin-top: 2vw;
}

footer {
  background-color: var(--bg-black);
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
}

.footer-top {
  height: 40%;
  width: 80%;
  border-bottom: 1px solid var(--color-white-border);
  display: flex;
  align-items: center;
  justify-content: start;
}

.footer-top h2 {
  font-size: 4rem;
  font-weight: 400;
  color: var(--color-white);
}

.footer-middle {
  height: 30%;
  width: 80%;
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 2vw;
}

.footer-middle a {
  text-decoration: none;
  font-size: 18px;
  font-weight: 400;
  color: var(--color-white);
  border-radius: 50px;
  border: 1px solid var(--color-white-border);
  padding: 1vw 2vw;
}

.footer-end {
  padding: 0% 5vw;
  min-height: 30%;
  width: 90%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.footer-end1 {
  width: 30%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.footer-end1-1 p {
  color: var(--color-white-light);
  font-size: 12px;
  font-weight: 400;
}

.footer-end1-1 h4 {
  color: var(--color-white);
  font-weight: 400;
}

.footer-end2 {
  width: 30%;
  display: flex;
  flex-direction: column;
}

.footer-end2 p {
  color: var(--color-white-light);
  font-size: 12px;
  font-weight: 400;
}

.footer-end2 span a {
  text-decoration: none;
  color: var(--color-white);
  font-weight: 400;
  margin-right: 1vw;
}

/* contact -section*/
#contact-section {
  min-height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: start;
  flex-direction: column;
}

#contact-section > h1 {
  margin: 1vw 0%;
  font-size: 42px;
  font-weight: 400;
  color: var(--color-black);
  border-bottom: 1px solid var(--color-black-border);
}

.contact-details {
  min-height: 50vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: start;
  flex-direction: column;
  border-radius: 0px;
}

.contact-details a {
  width: 25%;
  text-decoration: none;
  text-align: center;
  font-size: 18px;
  font-weight: 400;
  color: var(--color-black);
  border: 1px solid var(--color-black-border);
  border-radius: 10px;
  padding: 1vw 2vw;
  margin-top: 8px;
}

.contact-details p {
  width: 100%;
  text-align: center;
  font-size: 18px;
  font-weight: 400;
  color: var(--color-white);
  background-color: var(--bg-black);
  border-radius: 0px;
  padding: 12px 22px;
  margin-bottom: 2vw;
}

.contact-details h4 {
  text-align: start;
  font-size: 18px;
  font-weight: 400;
  color: var(--color-black);
  margin-top: 2vw;
}

/* about -section*/
#about-section {
  min-height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: start;
  flex-direction: column;
}

.about {
  min-height: 60vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--bg-black);
}

.about-left {
  height: 60vh;
  width: 50%;
  padding: 42px 28px;
  align-content: center;
}

.about-left h2 {
  color: var(--color-white);
  font-size: 36px;
  font-weight: 400;
}

.about-left p {
  color: var(--color-white-light);
  font-size: 14px;
  font-weight: 400;
  margin-top: 2vw;
  padding-right: 16vw;
}

.about-right {
  height: 60vh;
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.about-right img {
  width: 80%;
  border-radius: 10px;
}

@media (max-width: 600px) {
  :root {
    --bg-white: hsl(0, 0%, 100%);
    --bg-black: hsl(0, 0%, 0%);
    --bg-blue: hsl(233, 64%, 52%);
    --bg-grey: hsl(192, 3%, 61%);
    --color-white: hsl(0, 0%, 100%);
    --color-white-light: hsl(0, 0%, 94%);
    --color-black: hsl(0, 0%, 0%);
    --color-black-light: hsl(0, 0%, 40%);
    --color-blue: hsl(240, 100%, 50%);
    --color-white-border: hsla(0, 0%, 100%, 0.5);
    --color-black-border: hsla(0, 0%, 0%, 0.5);
  }

  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  html,
  body {
    min-height: 100%;
    width: 100%;
    font-family: sans-serif;
  }

  #hero-section {
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--bg-grey);
    overflow: hidden;
  }

  #hero-section img {
    height: 100%;
  }

  header > p {
    padding: 5px 0;
    text-align: center;
    color: var(--color-dark);
    background-color: var(--bg-white);
    font-size: 12px;
    font-weight: 300;
    border-bottom: 1px solid var(--color-black-border);
  }

  .navbar {
    z-index: 99;
    width: 100%;
    height: 50px;
    background-color: var(--bg-white);
    position: sticky;
    top: 0;
    border-bottom: 1px solid var(--color-black-border);
  }

  .navbar ul {
    list-style-type: none;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .navbar a {
    padding: 0 16px;
    text-decoration: none;
    color: var(--color-black);
    display: block;
    font-weight: 600;
    line-height: 50px;
  }

  .navbar a:hover {
    text-decoration: underline;
    color: var(--color-black);
  }

  .navbar a:active {
    text-decoration: underline;
    color: var(--color-black);
  }

  #page2 {
    min-height: 180vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
  }

  #page2 > a {
    padding: 16px 18px;
    text-decoration: none;
    font-size: 18px;
    font-weight: 400;
    color: var(--color-white);
    background-color: var(--color-black);
    border-radius: 10px;
  }

  #page2 > h1 {
    margin: 2vw 0%;
    font-size: 32px;
    color: var(--color-dark);
    font-weight: 600;
  }

  .page2-main {
    min-height: 150vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    align-content: start;
    row-gap: 15vw;
  }

  .portfolio1 {
    height: 400px;
    width: 95vw;
    display: flex;
    align-items: start;
    justify-content: space-evenly;
    flex-direction: column;
    background-color: var(--color-white-light);
    padding: 0% 1vw;
    border-radius: 10px;
  }

  .portfolio-v {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 60%;
    width: 100%;
  }

  .portfolio-v iframe {
    width: 100%;
    height: 90%;
    overflow: hidden;
  }

  .portfolio-text1 {
    width: 100%;
    border-bottom: 1px solid var(--color-black-border);
  }

  .portfolio-s-btn {
    display: flex;
    align-items: center;
    justify-content: start;
    flex-wrap: wrap;
    gap: 10px;
  }

  .portfolio-s-btn p {
    color: var(--color-black);
    font-size: 14px;
    font-weight: 400;
    border-bottom: 1px solid var(--color-black-border);
  }

  .portfolio-btn {
    width: 100%;
    text-align: center;
    display: grid;
  }

  .portfolio1 h2 {
    color: var(--color-black);
    margin-bottom: 5px;
    font-size: 26px;
    font-weight: 400;
  }

  .portfolio1 a {
    padding: 16px 18px;
    text-decoration: none;
    font-size: 18px;
    font-weight: 400;
    color: var(--color-white);
    background-color: var(--color-black);
    border-radius: 10px;
  }

  .page2-submain {
    margin-top: 5vw;
    min-height: 30vh;
    width: 95%;
    position: relative;
    display: grid;
    place-items: center;
  }

  .page2-submain img {
    width: 100%;
    object-fit: cover;
    position: absolute;
    border-radius: 10px;
  }

  .page2-submain-a {
    text-decoration: none;
    color: var(--color-black);
    background-color: var(--color-white);
    font-size: 18px;
    font-weight: 400;
    padding: 4vw 8vw;
    position: absolute;
    text-decoration: underline;
    border-radius: 10px;
  }

  #page3 {
    height: 30vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    margin: 15vw 0%;
  }

  #page3 > h1 {
    margin: 2vw 0%;
    font-size: 32px;
    font-weight: 600;
    color: var(--color-black);
  }

  .skill-section {
    width: 80%;
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    padding: 1rem;
    grid-row-gap: 3vw;
  }

  .skill0 {
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid var(--color-black-border);
    border-radius: 10px;
    padding: 5px;
  }

  .skill0 img {
    width: 100%;
  }

  #page4 {
    min-height: 125vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    margin: 5vw 0%;
  }

  #page4 > h1 {
    margin: 2vw 0%;
    font-size: 32px;
    font-weight: 600;
    color: var(--color-black);
  }

  .page4-main {
    height: 90%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    row-gap: 5vw;
  }

  .page4-1 {
    height: 30%;
    width: 90%;
    background-color: var(--color-white-light);
    border-radius: 10px;
    padding: 6vw 4vw;
    padding-right: 8vw;
  }

  .page4-1 h3 {
    color: var(--color-black-light);
    font-size: 16px;
    font-weight: 400;
  }

  .page4-1 h2 {
    color: var(--color-black);
    font-size: 28px;
    font-weight: 400;
    margin-top: 2vw;
  }

  .page4-1 p {
    color: var(--color-black-light);
    font-size: 14px;
    font-weight: 400;
    margin-top: 8vw;
  }

  footer {
    background-color: var(--bg-black);
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
  }

  .footer-top {
    height: 40%;
    width: 80%;
    border-bottom: 1px solid var(--color-white-border);
    display: flex;
    align-items: center;
    justify-content: start;
  }

  .footer-top h2 {
    font-size: 4rem;
    font-weight: 400;
    color: var(--color-white);
  }

  .footer-middle {
    height: 30%;
    width: 80%;
    display: flex;
    align-items: start;
    justify-content: center;
    flex-direction: column;
    row-gap: 5vw;
  }

  .footer-middle a {
    width: 100%;
    text-decoration: none;
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    color: var(--color-white);
    border-radius: 50px;
    border: 1px solid var(--color-white-border);
    padding: 4vw 6vw;
  }

  .footer-end {
    padding: 5vw 5vw;
    min-height: 30%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column-reverse;
  }

  .footer-end1 {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .footer-end1-1 p {
    color: var(--color-white-light);
    font-size: 12px;
    font-weight: 400;
  }

  .footer-end1-1 h4 {
    color: var(--color-white);
    font-weight: 400;
  }

  .footer-end2 {
    width: 100%;
    display: flex;
    flex-direction: column;
  }

  .footer-end2 p {
    color: var(--color-white-light);
    font-size: 12px;
    font-weight: 400;
  }

  .footer-end2 span a {
    text-decoration: none;
    color: var(--color-white);
    font-weight: 400;
    margin-right: 5vw;
  }

  /* contact -section*/
  #contact-section {
    min-height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: start;
    flex-direction: column;
  }

  .contact-details {
    min-height: 50vh;
    width: 100%;
    display: flex;
    background-color: var(--bg-white);
    align-items: center;
    justify-content: start;
    flex-direction: column;
    border-radius: 0px;
  }

  .contact-details a {
    width: 80%;
    text-decoration: none;
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    color: var(--color-black);
    border: 1px solid var(--color-black-border);
    border-radius: 10px;
    padding: 4vw 6vw;
    margin-top: 2vw;
  }

  .contact-details p {
    width: 100%;
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    color: var(--color-white);
    background-color: var(--bg-black);
    border-radius: 0px;
    margin-bottom: 0;
    padding: 14px 22px;
  }

  .contact-details h4 {
    text-align: start;
    font-size: 18px;
    font-weight: 400;
    color: var(--color-black);
    margin-top: 7vw;
  }

  /* about -section*/
  #about-section {
    min-height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: start;
    flex-direction: column;
  }

  .about {
    min-height: 60vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column-reverse;
    background-color: var(--bg-black);
  }

  .about-left {
    height: 60vh;
    width: 100%;
    padding: 24px 24px;
    align-content: start;
  }

  .about-left h2 {
    color: var(--color-white);
    font-size: 32px;
    font-weight: 400;
  }

  .about-left p {
    color: var(--color-white-light);
    font-size: 14px;
    font-weight: 400;
    margin-top: 6vw;
    padding-right: 0;
  }

  .about-right {
    height: 40vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .about-right img {
    width: 90%;
    border-radius: 10px;
  }
}
